<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu"
            onclick="$('.navbar-menu').toggleClass('is-active')">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="http://csc-212-fall-2022.github.io">Home</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Assignments</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="https://github.com/csc-212-fall-2022/assignment-1">Assignment 1</a>
                    <a class="navbar-item" href="https://github.com/csc-212-fall-2022/assignment-2">Assignment 2</a>
                    <a class="navbar-item" href="https://github.com/csc-212-fall-2022/assignment-3">Assignment 3</a>
                    <a class="navbar-item" href="https://github.com/csc-212-fall-2022/assignment-4">Assignment 4</a>
                    <a class="navbar-item" href="https://github.com/csc-212-fall-2022/assignment-5">Assignment 5</a>
                    <a class="navbar-item" href="https://github.com/csc-212-fall-2022/assignment-6">Assignment 6</a>
                    <a class="navbar-item" href="https://github.com/csc-212-fall-2022/assignment-7">Assignment 7</a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Exams</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href={{ get_url(path="@/exams/exam1_guide.md") }}>Exam 1 Guide</a>
                    <a class="navbar-item" href={{ get_url(path="@/exams/exam2_guide.md") }}>Exam 2 Guide</a>
                    <a class="navbar-item" href={{ get_url(path="@/exams/final_exam.md") }}>Final Exam Guide</a>
                </div>
            </div>
            <a class="navbar-item" href="https://github.com/csc-212-fall-2022/class-examples">Class Examples<a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <span class="icon-text">
                <span class="icon">
                    <i class="fa fa-bus"></i>
                </span>
                <span>Github</span>
                </span>
            </div>
        </div>
    </div>
</nav>
